body {
    font-family: Verdana;
}

.box {
    width: 420px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    background-color: #fff;
}

input, select, textarea {
    padding: 5px;
    margin: 3px;
}
